@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-style: normal;
  font-family: "Montserrat", sans-serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

.list {
  list-style-type: none;
}

img {
  display: block;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.accent {
  color: #ff6b09;
  fill: #ff6b09;
}

main {
  padding-top: 125px;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: #212121;
  max-width: 960px;
  padding: 15px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 800;
  background-color: tomato;
  color: white;
  padding: 2px 6px;
  border-radius: 2px;
}

.container {
  padding: 0 15px;
}

header {
  width: 100%;
  min-width: 320px;
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  padding: 30px 0;
}

.logo__name {
  font-weight: 800;
  font-size: 26px;
  line-height: 1.231;
  /* identical to box height */
  letter-spacing: 0.04em;
  color: #111518;
}

.logo__slogan {
  font-weight: bold;
  font-size: 8px;
  line-height: 1.25;
  /* identical to box height */
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #111518;
}

.logo__icon {
  display: inline-block;
}

.header__menu-button {
  background-color: transparent;
  outline: none;
  border: none;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: auto;
}

.btn-call {
  width: 260px;
  height: 48px;
  text-transform: uppercase;
  background-color: transparent;
  color: #ff6b09;
  border-color: #ff6b09;
  outline: none;
  font-weight: 700;
  border-style: solid;
}

@media screen and (max-width: 479px) {
  .header__menu-mobile {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .header__menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation__list {
    display: none;
  }
  .btn-call {
    font-size: 12px;
    line-height: 1.25;
    margin-left: 60px;
  }
  .menu-btn {
    margin-left: 40px;
  }
}

@media screen and (min-width: 1300px) {
  .header-wrapper {
    width: 96vw;
  }
  .header__menu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .btn-call {
    width: 336px;
    height: 70px;
    font-size: 14px;
    line-height: 1.214;
  }
  .menu-btn {
    display: none;
  }
  .navigation__link {
    font-size: 14px;
    line-height: 1.13333;
    text-transform: uppercase;
    color: #b9b9b9;
  }
  .navigation__item:not(:last-child) {
    margin-right: 40px;
  }
}

.mentors {
  background-color: #e5e5e5;
  padding-top: 39px;
  padding-bottom: 50px;
}

.mentors__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #111518;
  padding-bottom: 20px;
}

.mentors__name {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #111518;
  margin-top: 20px;
  margin-bottom: 30px;
}

.mentors__experience-list {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #111518;
}

.mentors__experience-list:not(:last-child) {
  margin-bottom: 35px;
}

.mentors__about {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.66;
  color: #b9b9b9;
  margin-top: 43px;
  margin-bottom: 10px;
}

.mentors__certificate {
  color: #ff6b09;
}

.warranty {
  background-color: #f1f1f1;
  padding: 30px 20px;
}

.container {
  padding: 0px 15px;
  margin: 0 auto;
}

.container .review {
  width: 1258px;
  height: 571px;
  margin: 0 auto;
}

.container .reviews__alumni {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  margin-top: 50px;
  /* or 26px */
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
}

.container .reviews__alumni .reviw__container {
  margin-bottom: 40px;
  background: #ffffff;
  -webkit-box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
          box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.container .reviews__alumni .review__image {
  position: absolute;
}

.container .reviews__alumni .review__all {
  padding-left: 40px;
  padding-right: 112px;
  margin-top: 50px;
}

.container .reviews__alumni .review__main {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.08em;
  color: #ff6b09;
}

.container .reviews__alumni .review__description {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  width: 438px;
  height: 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  margin-top: 0;
  margin-bottom: 20px;
  color: main-text-color;
}

.container .reviews__alumni .review__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 51px;
  color: #3d3d3d;
}

.container .reviews__alumni .review__img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 558px;
  height: 54px;
  margin-top: 40px;
  padding-left: 0px;
}

.container .reviews__alumni .review__img-item:not(:last-child) {
  margin-right: 25px;
}

@media screen and (max-width: 479px) {
  .container .reviews__alumni .review {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .container .reviews__alumni .reviw__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__top {
  text-align: center;
  padding: 30px 0;
}

.footer__bottom {
  background-color: #111518;
  color: #b9b9b9;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 21px;
}

.contact-list {
  margin-top: 20px;
}

.contact-list__number {
  padding-bottom: 30px;
}

.contact-list__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1, 214;
  /* identical to box height */
  letter-spacing: 0.08em;
  color: #111518;
}
/*# sourceMappingURL=main.css.map */