<section class="review">
    <h2 class="reviews-alumni">Отзывы выпускников</h2>

    <div class="reviw-container">
        <img class="image" src="./imgages/review/photo.jpg" width="150" height="150" />
        <div class="review-all">
            <h3 class="review-main">Тоня Кучеровская</h3>
            <p class="review-description">Выпуск 2015-го года, Національний університет біоресурсів
                і природокористування України</p>
            <p class="review-text">За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж
                заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її справді
                хвилювала моя
                успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                помилку. Зараз
                я можу похизуватись тим, що я студен ... Читать дальше</p>
            <ul class="review-img-list">
                <img class="review-image" src="./imgages/review/photo1.jpg" width="54" height="54" />
                <img class="review-image" src="./imgages/review/photo2.jpg" width="54" height="54" />
                <img class="review-image" src="./imgages/review/photo3.jpg" width="54" height="54" />
                <img class="review-image" src="./imgages/review/photo4.jpg" width="54" height="54" />
                <img class="review-image" src="./imgages/review/photo5.jpg" width="54" height="54" />
                <img class="review-image" src="./imgages/review/photo6.jpg" width="54" height="54" />
                <img class="review-image" src="./imgages/review/photo7.jpg" width="54" height="54" />
            </ul>
        </div>
</section>